.mt-character {
    cursor: help;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.mt-character:hover {
    color: purple;
}

.mt-character .hovertext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    border-radius: 4px;

    position: absolute;
    z-index: 1;
    white-space: pre; /* Renders the line breaks */
}

.mt-character:hover .hovertext {
    visibility: visible;
}

.pinyin {
    color: #66CCCC;
}

.characterColor {
    color: #CCCCCC;
}

.characterColor1 {
    color: #F2777A;
}

.characterColor2 {
    color: #99CC99;
}

.characterColor3 {
    color: #6699CC;
}

.characterColor4 {
    color: #CC99CC;
}